@import "../../scss/settings/colors";

.btn-link {
  color: $grey;
  background: none;
  border: 0.75px solid $dark;
  width: 310px;
  height: 120px;
  display: inline-flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
}