@import "../../scss/settings/fonts";
@import "../../scss/settings/colors";

.form-container {
  margin-right: 142px;
  width: 530px;
  z-index: 1;
}

.form {
  display: flex;
  flex-direction: column;
}

.form .form-btn {
  width: 150px;
  height: 50px;
  font-size: 18px;
  align-self: flex-end;
  margin-top: 44px;
}

.form-inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

}
