.welcome {
  width: 100%;
  height: 80vh;
  background-image: url("../../assets/HomeHeroImage.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: -320px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}