@import "../../scss/settings/fonts";
@import "../../scss/settings/colors";

.home-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: fixed;
  left: 0;
  bottom: 0;
}

.footer-text {
  position: absolute;
  margin-bottom: 20px;
  margin-top: 0;
  align-self: center;
  justify-self: flex-end;
}

.footer-icons {
  align-self: flex-end;
  margin-right: 142px;
  margin-bottom: 20px;
}