@import "../../scss/settings/colors";

.welcome-info {
  width: 674px;
  height: 350px;
  margin-right: 15rem;
  margin-top: 219px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: pre-wrap;
}

.info-text {

}

.info-buttons {
  width: 100%;
  display: flex;
  gap: 44px;
}